.pill {
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-radius: 15px;
    border-style: solid;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}